.navbar-brand {
    font-family: Tahoma Black;
    font-size: 30px;
    font-weight: bolder;
}

.nav-link {
    color: rgb(3, 51, 161) !important;
    font-family: Verdana, sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

.nav-link:hover {
    color: rgb(0, 0, 0) !important;
    background-color: rgb(255, 0, 0);
    border-radius: 20px;
}